0.idp.lab.username=test-int
0.idp.lab.authcertkeystore=<path-to-keystore>
0.idp.lab.authcertpassword=<password>
0.idp.lab.authcertalias=demis-test-int


# Parameters for mutual authentication
0.idp.hospital.username=test-int
0.idp.hospital.authcertkeystore=<path-to-keystore>
0.idp.hospital.authcertpassword=<password>
0.idp.hospital.authcertalias=demis-test-int

